<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sterna Transfer{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="navbar">
        <a href="/">Accueil</a>
        <a href="/about">À propos</a>
        <a href="/transfer">Transfert</a>
        <a href="/contact">Contact</a>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
